@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-200 h-screen;
  }
}

@layer components {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }

  .hideable-item:nth-last-child(-n + 4) {
    display: none;
  }

  @media screen and (min-width: 460px) {
    .hideable-item:nth-child(-n + 2) {
      display: unset;
    }

    .hideable-item:nth-last-child(-n + 3) {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    .hideable-item:nth-child(n) {
      display: unset;
    }
  }
}
