@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-200 h-screen;
  }
}

@layer components {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }

  .a {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fblue%2520sky%2F&psig=AOvVaw3-IHKLJI6rqRslqASkcod6&ust=1677671661375000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCNjjko2UuP0CFQAAAAAdAAAAABAE);
    background-position: center;
    object-fit: cover;
  }

  .btn {
    @apply w-full outline-none rounded-md px-2 py-1;
  }
}
