@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 h-screen scroll-smooth;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  :not(.no-scrollbar)::-webkit-scrollbar,
  .scrollbar::-webkit-scrollbar {
    display: unset;
  }
}
